spring:
  application:
    name: API de Servico

  datasource:
    url: jdbc:postgresql://localhost:5432/relatorios_de_servicos
    username: postgres
    password: 984324
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    show-sql: true
    format_sql: true



